@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Special+Gothic+Condensed+One&display=swap');

:root{
   --light-bg: #F3F3FF;
   --dark-lavender: #6A2CD3;
   --light-lavender: #A36BFF;
   --faded-lavender: #D9D3FF;
   --text-color: #1A202C;
}

*{
    margin: 0;
}

body{
    font-family: "Inter Tight", sans-serif;
    background-color: var(--light-bg);
}

.container{
    max-width: 1536px;
    width: 100%;
}

header{
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--faded-lavender);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: var(--text-color);
}

nav .left-logo{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .left-logo h2{
    font-size: 2.5rem;
    font-family: "Poetsen One", sans-serif;
}

nav .left-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

nav .mid-logo{
    display: flex;
    align-items: center;
    gap: 30px;
}

nav .mid-logo p{
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

nav .mid-logo p:hover{
 font-weight: 700;
 font-size: 1.4rem;
 color: var(--dark-lavender);
}

nav .right-logo button{
    padding: 13px 30px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-family: "Poetsen One", sans-serif;
    border-radius: 40px;
    background-color: var(--text-color);
    color: var(--light-bg);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

nav .right-logo button i{
    font-size: 1.2rem;
    font-weight: 700;
}

nav .right-logo button:hover{
    background-color: var(--faded-lavender);
    color: var(--text-color);
    border: 3px solid var(--text-color);
}

nav .menu{
    display: none;
}

nav .menu i{
    font-size: 2.5rem;
    color: var(--text-color);
}

main{
    margin-top: 120px;
     width: 100%;
     height: 100vh;
 }

main .top-main {
    padding-top: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

main .top-main h1{
    color: var(--dark-lavender);
    font-size: 3rem;
    font-family: "Special Gothic Condensed One", sans-serif;
    letter-spacing: 1px;
}

main .top-main h1 span{
    color: var(--light-lavender);
}

main .top-main p{
    color: var(--faded-lavender);
    font-weight: 600;
}

/* modal styles */
.hide-modal{
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    background-color: var(--faded-lavender);
    z-index: 1000;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
   padding: 20px;
   border-radius: 40px;
   border: 3px solid var(--dark-lavender);
}

.inner-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.close-modal{
    position: relative;
    margin-left: auto;
    padding: 12px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid var(--dark-lavender);
    cursor: pointer;
    font-size: 2rem;
    color: var(--dark-lavender);
    transition: all 0.3s ease-in-out;
}

.close-modal:hover{
    background-color: var(--dark-lavender);
    border: 3px solid var(--light-bg);
    color: var(--light-bg);
}

.modal h2{
    font-size: 3.3rem;
    color: var(--text-color);
    font-family: "Poetsen One", sans-serif;
}

.modal-heading {
    display: flex;
    align-items: center;
    gap: 8px;
}

.modal-heading img{
 width: 80px;
 height: 80px;
 object-fit: cover;
 object-position:center ;
}

form{
    margin-top: 20px;
    width: 80%;
}

label{
    display: block;
    font-size: 2rem;
    padding: 20px;
    font-weight: 600;
}

input{
    width: 100%;
    padding: 16px 20px;
    border-radius: 32px;
    font-size: 1.3rem;
    border: 3px solid var(--dark-lavender);
    background-color: var(--light-bg);
    color: var(--dark-lavender);
    font-weight: 600;
    font-family: "Poetsen One", sans-serif;
}

::placeholder{
    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
}

input:focus{
    outline: none;
}

.checkbox{
    display: flex;
    align-items: center;
}

.submit-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-div button{
    padding: 12px 28px;
    border-radius: 28px;
    font-size: 1.2rem;
    font-family: "Poetsen One", sans-serif;
    cursor: pointer;
    background-color: var(--dark-lavender);
    border: none;
    color: var(--light-bg);
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 200;
}

/* modal styles */

/* RESPONSIVENESS */
/* 2xl */
@media (max-width: 1536px) {
   
}

/* xl */
@media (max-width: 1280px) {
 
}

/* lg */
@media (max-width: 1024px) {
    /* nav */
    header{
        height: auto;
    }

    nav{
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

nav .menu{
    display: block;
    margin-left: auto;
    position: absolute;
    top: 45px;
    left: 920px;
}


.hidden{
    display: none;
}

nav .mid-logo{
    flex-direction: column;
    align-items: flex-start;
}

nav .mid-logo.hidden{
    display: none;
    
}
/* nav */
  
 
}

/* md */
@media (max-width: 768px) {
    /* nav */
    header{
        height: auto;
    }

    nav{
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    }

    nav .menu{
    display: block;
    margin-left: auto;
    position: absolute;
    top: 45px;
    left: 690px;
}


.hidden{
    display: none;
}

nav .mid-logo{
    flex-direction: column;
    align-items: flex-start;
}

nav .mid-logo.hidden{
    display: none;
    
}
/* nav */
  
}

/* sm */
@media (max-width: 640px) {
    /* nav */
    header{
        height: auto;
    }

nav{
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

nav .menu{
    display: block;
    margin-left: auto;
    position: absolute;
    top: 45px;
    left: 560px;
}


.hidden{
    display: none;
}

nav .mid-logo{
    flex-direction: column;
    align-items: flex-start;
}

nav .mid-logo.hidden{
    display: none;
    
}
/* nav */

      
}

/* xs */
@media (max-width: 475px) {
    /* nav */
    header{
            height: auto;
        }

    nav{
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }

    nav .menu{
        display: block;
        margin-left: auto;
        position: absolute;
        top: 45px;
        left: 360px;
    }


    .hidden{
        display: none;
    }

    nav .mid-logo{
        flex-direction: column;
        align-items: flex-start;
    }

    nav .mid-logo.hidden{
        display: none;
        
    }
/* nav */
 
}